/* File: style.css */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: url("./images/bg-mobile-dark.jpg");
    background-repeat: no-repeat;
    background-color: hsl(235, 21%, 11%);
    color: white;
    background-size: contain;
    user-select: none;
}
.light-mode{
    background: url("./images/bg-mobile-light.jpg");
    background-repeat: no-repeat;
    background-color: hsl(0, 0%, 98%);
    color: white;
    background-size: contain;
}
#toggleBtn{
    background-color:transparent;
    border: none;
}
.toggle-image{
    background-image: url(./images/bg-mobile-light.jpg);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 10px 0px 10px;
    gap: 20px;
    width: 100%;
}
.todo_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo_title img{
    width: 20px;
    height: 20px;
}
.todo_title h2{
    letter-spacing: 5px;
}
.todo_list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.todo{
    width: 100%;
}
.todo input{
    width: 100%;
    background-color: hsl(235, 24%, 19%);
    border: none;
    padding: 15px;
    border-radius: 5px;
    color:white;
}
.todo input:focus{
    border: none;
}
.todo input:active{
    border: none;
}
.todo_list_items{
    display: flex;
    flex-direction: column;
    background-color: hsl(235, 24%, 19%);
    border-radius: 6px;
    width: 100%;
}
.todo_list_items div:last-child{
    border-bottom: none;
}
.todo_list_items div input{
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid white;
    opacity: .5;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
.list_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
    padding: 0 10px 0 10px;
}
.list_items span{
    font-size: 12px;
    cursor: pointer;
}
.chh{
    height: 10%;
    display: flex;
    gap: 10px;
    padding: 20px 5px 20px 5px;
    align-items: center;
    cursor: pointer;
}

.todo_list_items div input:checked{
    background:linear-gradient( 120deg, hsl(192, 100%, 67%),hsl(280, 87%, 65%));
    cursor: pointer;
}
.todo_filter{
    background-color: hsl(235, 24%, 19%);
}
.items{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: hsla(0, 0%, 100%, 0.521);
    background-color: hsl(235, 24%, 19%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -20px;
    border-top: 1px solid white;
}
.todo_filter{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
}
.todo_filter button{
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.541);
    opacity: .8;
    cursor: pointer;
    transition: all 3ms ease;
}
.todo_filter button:hover{
    color:rgba(255, 255, 255, 0.8) ;
}
/* .todo_filter button:active{
    border: none;
} */
.cancel-btn{
    cursor: pointer;
}
.cr{
    transition: all 10ms ease;
}
.cr:hover{
    background-color: hsl(237, 14%, 26%);
    border-radius: 5px;

}
.drag_drop{
    text-align: center;
    margin-top: .5rem;
    color: hsla(0, 0%, 100%, 0.418);
    opacity: .5;
}
.line-through{
    text-decoration: line-through;
    opacity: .5;
}
@media (min-width:426px) and (max-width:768px) {
    body{
        background: url("./images/bg-mobile-dark.jpg");
        background-repeat: no-repeat;
        background-color: hsl(235, 21%, 11%);
        color: white;
        background-size: 100% 50%;
    }
    .container{
        width: 60%;
    }
    .light-mode{
    background: url("./images/bg-mobile-light.jpg");
    background-repeat: no-repeat;
    background-color: hsl(0, 0%, 98%);
    color: white;
    background-size: 100% 50%;
    }
}
@media (min-width:769px) and (max-width:1440px) {
    body{
        background: url("./images/bg-mobile-dark.jpg");
        background-repeat: no-repeat;
        background-color: hsl(235, 21%, 11%);
        color: white;
        background-size: 100% 50%;
    }
    .light-mode{
    background: url("./images/bg-mobile-light.jpg");
    background-repeat: no-repeat;
    background-color: hsl(0, 0%, 98%);
    color: white;
    background-size: 100% 50%;
    }
    .container{
        width: 40%;
        margin: auto;
    }
    .todo_list_items div{
        padding: 10px;
    }
}